<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PasswordsManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PasswordsManagement.Properties.Settings>
            <setting name="AutoLockMinutes" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ClipboardTimeoutSeconds" serializeAs="String">
                <value>-1</value>
            </setting>
        </PasswordsManagement.Properties.Settings>

		
    </userSettings>


	<connectionStrings>
		<add name ="PasswordsManagement" connectionString="Data Source=.;Initial Catalog=PasswordsManagement;Integrated Security=True; TrustServerCertificate=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>